<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="js/feedbackView.js"></script>
  </head>
  <body>
    <h1>Feeback page</h1>
    <form>
      Name: <input type="text" class="name" /><br>
      Title: <input type="text" class="title" /><br>
      Message: <input type="text" class="message" /><br>
      <button type="submit">Add feedback</button>
    </form>

    <div class="output"></div>
  </body>
</html>
